/* Imports */

@font-face {
    font-family: "Bebas-Neue";
    src: url(../assets/fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "OpenSans";
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    min-width: 997px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

.main-header {
    height: 60px;
    background-color: #F9003D;
}

.main-header .header-flex {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.navigator {
    display: flex;
    align-items: center;
    gap: 100px;
    height: 100%;
}

.navigator a {
    font-family: "Bebas-Neue";
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navigator a:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Content */

/* Banner */

.content .banner {
    height: 740px;
    background-image: url(../assets/images/banner_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.content .banner .banner-content {
    padding-top: 200px;
    padding-bottom: 62px;
    width: 48%;
}

.content .banner .banner-content h1 {
    font-family: "Bebas-Neue";
    font-size: 96px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.content .banner .banner-content h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 52px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F9003D;
}

.content .banner .banner-content hr {
    margin: 20px 0;
    border: 1px solid #FFAF00;
    width: 100%;
}

.content .banner .banner-content #mouse-image {
    margin-top: 30px;
}

/* About */

.content .about {
    padding: 80px;
    background-color: #080324;
}

.content .about .section-title {
    margin-bottom: 50px;
    font-family: "Bebas-Neue";
    font-size: 64px;
    color: #F9003D;
}

.content .about .about-wrapper {
    display: flex;
    justify-content: space-between;
}

.content .about .about-wrapper img {
    width: 40%;
}

.content .about .about-wrapper .about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    color: #FFF;
}

.content .about .about-wrapper .about-text .participants {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.content .about .about-wrapper .about-text .text-highlighted {
    font-family: "Bebas-Neue";
    font-size: 64px;
    color: #FFAF00;
}

.content .about .about-wrapper .about-text .text {
    font-family: "OpenSans";
    font-size: 18px;
}